RewriteEngine On

RewriteRule ^.well-known/(.*)$ - [L]

RewriteRule ^(.*)/$ /$1 [R] # Remove trailing slash, then [N]ext to the html rewrite.

RewriteRule ^data-sheet$ /submit.html [L]

RewriteRule ^([a-zA-Z0-9-_]+)$ /$1.html [L]